.movie-rank-component-container{
	padding-top:0.2rem;
	.title{
		display: inline-block;
		min-width: 4em;
		margin-bottom: 0;
		font-size: 18px;
		color: #494949;
		padding-left: 0;
		padding-bottom: 0;
		font-size: 0.16rem;
		font-weight: 700;		
	}
	.swiper-container{
		.swiper-wrapper{
			width: 85%;
			.swiper-slide{
				.link-movie{
					display: block;
					box-sizing: border-box;
					position: relative;
					padding-left: 0.3rem;
					margin-top:0.17rem;
					.index{
						display: inline-block;
						vertical-align: top;
						width: 0.3rem;
						position: absolute;
						left: 0px;
						top:0px;
						color: #494949;
					}
					.movie{
						display: inline-block;
						width: 100%;
						vertical-align: top;
					}
				}
			}
		}
		
	}
	.count{
		text-align: center;
		font-size: 0.18rem;
		line-height: 0.4rem;
		a{
			text-align: center;
			color: #9f9fa0;
		}
	}
}