<div class="comment-item-component">
    <div class="user-head">
        <i class="header-area" [style.backgroundImage]="getBackground(header)"></i>
    </div>
    <div class="comment">
        <div class="comment-info">
            <div class="info-left">
                <span class="user-name">{{username}}</span>
                <div class="star-area">
                   <app-starts [score]="score" [showScordNum]="false"></app-starts> 
                </div>   
            </div>
            <div class="likes-btn"  (click)="triggerVote()">
                <i class="like-icon"></i>
                <span>{{vote}}</span>               
            </div>
        </div>
        <div class="comment-detail">
            <div class="content">
                {{content}}            
            </div>
            <div class="time">{{time | timeHorizon}}</div>             
        </div>
    </div>
</div>
