$header_h:0.6rem;
$main_color:#42bd56;
$background_color:#f7f7f7;
$article_brief_color:#9b9b9b;
$article_brief_color_looked:#d1d3d2;
$article_title_color:#494949;
$article_title_color_looked:#9b9b9b;
$index_1:100;
$index_2:200;
$index_3:300;
$index_4:400;
$index_5:500;
$index_6:600;
$index_7:700;
$index_8:800;
$index_9:900;
$index_10:1000;
$img_icon_base:'/assets/icon/';