.comment-list-component{
	padding:0.24rem 0.3rem 0px 0.3rem;
	.comment-title{
		position: relative;
		$height:0.3rem;
		height: $height;
		.title{
			line-height: $height;
			font-size: 0.18rem;
			color: #494949;
		}
		.link{
			display: block;
			position: absolute;
			height: $height;
			line-height: $height;
			top:0px;
			right:0px;
			box-sizing: border-box;
			border:1px solid #42bd56;
			color:#42bd56;
			font-size: 0.12rem;
			width: 0.6rem;
			text-align: center;
			border-radius: 3px;
		}
		.btn{

		}
	}
	.comment-list{
		padding-top:0.24rem;
	}
}