<div>
    <app-z-container top="0rem" bottom="0.6rem">
        <router-outlet></router-outlet>
    </app-z-container>
    <div class="nav-bar-bottom">
        <a class="navigation" routerLinkActive="active" routerLink="/home">
            <i class="nav-icon icon-home"></i>
            <span>首页</span>
        </a>
        <a class="navigation" href="">
            <i class="nav-icon book-movie-music"></i>
            <span>书影音</span>
        </a>
        <a class="navigation" href="">
            <i class="nav-icon icon-broadcast"></i>
            <span>广播</span>
        </a>
        <a class="navigation" href="">
            <i class="nav-icon icon-group"></i>
            <span>小组</span>
        </a>
        <a class="navigation" href="">
            <i class="nav-icon icon-mine"></i>
            <span>我的</span>
        </a>
    </div>
</div>