<div class="movie-page">
    <div class="has-padding">
        <app-card-block title="影院热映" linkTo="/s/ss">
            <ul class="swiper-wrapper">
                <li *ngFor="let item of hotMovie" class="swiper-slide item-list">
                    <a routerLink="detail/{{item.id}}">
                        <app-item-block [movie]="item">
                            <div class="star-area">
                                <app-starts [score]="item.cord"></app-starts>
                            </div>
                        </app-item-block>
                    </a>
                </li>
            </ul>        
        </app-card-block>
        <app-card-block title="院线即将上映" linkTo="11">
            <ul class="swiper-wrapper">
                <li *ngFor="let item of playingMovie" class="swiper-slide item-list">
                    <a href="">
                        <app-item-block [movie]="item">
                            <div class="star-area">
                                <app-starts [score]="item.cord"></app-starts>
                            </div>
                        </app-item-block>
                    </a>
                </li>
            </ul>        
        </app-card-block>
        <app-movie-rank></app-movie-rank>                 
    </div>
    <div class="endless-movie-list">
        <app-movie-item-max 
            *ngFor="let movie of youLikes"
            [cover]="movie.poster"
            [name]="movie.name" 
            [score]="movie.cord" 
            [info]="[{name:'导演',value:getActors(movie.actors,0)},{name:'演员',value:getActors(movie.actors,1)}]" 
            [desc]="'你可能喜欢的电影'">
        </app-movie-item-max>
    </div>  
</div>
<router-outlet></router-outlet>
