@import '../../common/common.scss';
.switch-channel{
	width: 100%;
	left: 0px;
	top:0.6rem;
	position: fixed;
	border-bottom:1px solid #dfdfdf;
	padding-bottom: 1px;
	background-color: #ffffff;
	box-sizing: border-box;
	height: 0.4rem;
	.container{
		font-size: 0px;
		li{
			display: inline-block;
			width: 20%;
			text-align: center;
			height: 0.4rem;
			line-height: 0.4rem;
			position: relative;
			&:focus{
				outline: 0px none;
			}
			a{
				font-size: 0.14rem;
				color: #9b9b9b;
			}
		}
		.active{
			a{
				color: $main_color;
			}
		}
	}
	.line{
		display: block;
		position: absolute;
		width: 20%;
		height: 1px;
		bottom: 0px;
		background-color: $main_color;
		transition: 0.5s;
		transform:translateX(0px);	
		z-index: 1000;	
	}
}