<div class="info-biger-component">
    <div class="posters-area">
        <div class="poster" [style.backgroundImage]="getBackground('/assets/movie/wujiandao_post.webp')"></div>
    </div>
    <div class="info">
        <div class="text-info">
            <h2 class="name">无间道</h2>
            <ul class="info-list">
                <li>
                    <span class="label">导演：</span>
                    <span class="value">刘德华</span>
                </li>
            </ul>
        </div>
        <div class="scord-area">
            <div class="score">7.1</div>
            <div class="starts">
                <app-starts score="7.1" [showScordNum]="false"></app-starts>
            </div>
            <div class="num">4134123人</div>
        </div>
    </div>
    <div class="linkToScord">
        <ng-content></ng-content>
    </div>
</div>
