<div class="info-biger-component">
    <div class="posters-area">
        <div class="poster" [style.backgroundImage]="getBackground(cover)"></div>
    </div>
    <div class="info">
        <div class="text-info">
            <h2 class="name">{{title}}</h2>
            <ul class="info-list">
                <li *ngFor="let info of infoArr">
                    <span class="label">{{info.name}}：</span>
                    <span class="value">{{info.value}}</span>
                </li>
            </ul>
        </div>
        <div class="scord-area">
            <div class="score">{{score}}</div>
            <div class="starts">
                <app-starts [score]="score" [showScordNum]="false"></app-starts>
            </div>
            <div class="num">{{scorePeople}}人</div>
        </div>
    </div>
    <div class="linkToScord">
        <ng-content></ng-content>
    </div>
</div>
